.container {
  margin: 5rem 0;
}

.container h2 {
  text-align: center;
  margin: 50px;
  color: #324d67;
  font-size: 28px;
}

.marquee {
  position: relative;
  height: 400px;
  width: 100%;
  overflow-x: hidden;
}

.products {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 15s linear infinite;
  width: 180%;
}

.track:hover {
  animation-play-state: paused;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
